@import "mixins";

.containerfull {
    min-height:100vh;   
}
.topbar{
    margin-top:0;
    padding-top: 0;
    position: fixed;
    background-color: $verde;
    z-index: 100;
    width: 100%;
    height: 46px;
    .teltopo{
       background-color: $laranja;
       color: $branco;
       width: 80%;
       height: 46px;
       float: right;
       -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
    border-radius:0px 0px 10px 10px;                            
       
       i{
        font-size: 44px;
        padding-left: 22px;
        float: left;
       }
       .num{
           padding-top: 4px;
           padding-left: 25px;
           text-align: center;
           float: left;
           font-size: 24px;
           font-weight: $semi;
       }
    }
}

.nav-container{
    position: relative;
    padding-top: 46px;
    z-index: 105;
}
.f-nav {
     display: fixed;
}
#home{
   padding-top: 46px; 
   position: relative;
   min-height: 100vh;
   background-image: url(../img/fundo_form.jpg);
   background-size: cover;
   color:$branco;
   z-index: 10;
   .logo {
       padding-top: 50px;
   }
   p{
       font-weight: $light;
       text-align: right;
       span{
           font-weight: $bold;
       }
   }
   h1{
        padding-top:25%;
        font-size: 30px;
        font-weight: $semi;
        text-align: left;
       span{
           text-decoration: underline;
       }
   }
   h2{
       text-align: left !important;
       font-weight: $light;
       font-size: 22px;
       span{
           font-weight: $bold;
       }
   }
   .bloco{
       padding-bottom: 10px;
       input[type=text]{ 
           height: 40px;
       }
       button[type=submit]{ 
        height: 40px;
    }
       .full{
           width: 100%;          
       }
       .meio_e{
           width: 49%;
           float: left;
           
       }
       .meio_d{
           width: 49%;
           float: right;
       }
   }
        .btn{
            margin-top: 8px;
        }
        .rodapesection{
        position: absolute;
        bottom: 40px;
        }
}
// geral mobiles
@media (min-width: 320px) and  (max-width:768px) {
    #home{
        .logo{
            padding-top: 40px;
        }
        h1{
            text-align: center;
        }
    }
}
//fim geral mobiles

// <<<<<<<<<<<< fim sessao home >>>>>>>

.menubar{
    position:absolute;
    bottom:0;
    width: 100%;
    background-color: $laranja !important;
    height: 46px;
    z-index: 999;
    float: none;
    clear: both;
    display: block;
    text-align: center;
    a{
        color: $branco;
        text-align: center;
        font-weight: $light;
    
    }
}
#emedweb{
  position: relative;  
  color: #000;
  text-align: center;
  h1{
      padding-top: 70px;
      padding-bottom: 25px;
      font-size: 38px;
      font-weight: $thin;
      text-align: center;
      color:#053c48;
      span{
          font-weight: $bold;
      }
      
     
      
  }
  img{
      width: 82%;
  }
  figure{
      padding-bottom: 80px;
      padding-top: 0px;
  }
}
.alturamenu{
    height: 46px;
    padding-top: 10px;      
}
.logoint{
    padding: 2px;
}
.sobre{
    background-color: #f7f7f8;
}
.pink{
    background-color: #FF00ff;
}
.laranja{
    background-color: $laranja;
}
.azul{
    background-color: $azul;
    
}
.verde{
    background-color: $verde;
}
.vermelho {
    background-color: $vermelho;
}
.verdeclaro {
    background-color: $verdeclaro;
}


/*==========================================================
               counter  style Two
============================================================*/
.semi{
    font-weight: 500;
    font-size:0.8rem
}
.borda {
    padding: 5px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;                            
         
}

.sections {
    padding-top: 25px;
    padding-bottom:5px;
    
    
}
.overlay {
    
     height: auto;
}
.counter_two{
      height: auto;
      width: 80%;
    
}

.counter_two .main_counter_two .single_counter_two_right{
    margin-top:20px;
    display: block;
}
.counter_two .main_counter_two .single_counter_two_right i{
    color:$verde;
    font-size:2.125rem;
    margin-bottom:10px;
    line-height: 2rem;
    display: block;
    
}
.counter_two .main_counter_two .single_counter_two_right h2{
    color:$branco;
    margin-bottom:10px;
    line-height: 0;
    font-weight: $semi;

}
.counter_two .main_counter_two .single_counter_two_right p{
    color:$branco;
    font-weight: $medio;
    font-size:0.8rem
}

/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .sections {
        padding-top: 5px;
        padding-bottom:5px;
        
        
    }
    .counter_two {
        height: auto;
    }
    .overlay{
        height: auto;
    }
}




// <<<<<<<<<<<< fim sessao sobre e menu rodape >>>>>>>

#aplicativo{
         position: relative;  
        color: #fff;
        text-align: center;
        font-weight: $light;
        h1{
            padding-top: 70px;
            padding-bottom: 25px;
            font-size: 38px;
            font-weight: $thin;
            text-align: center;
            color:#fff;
            span{
                font-weight: $bold;
            }
        }
}

.vertical-align{
    
    padding-top: 40%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
// >>>>>>>>>>>>> fim sessao APLICATIVO 

#vantagens{
    position: relative;  
        color: #fff;
        text-align: center;
        font-weight: $light;
        h1{
            padding-top: 70px;
            padding-bottom: 45px;
            font-size: 38px;
            font-weight: $thin;
            text-align: center;
            color:#fff;
            span{
                font-weight: $bold;
            }
        }
        h2{
            font-weight: $medio;
            text-align: left;
            font-size: 20px;
        }
        p{
            text-align: left;
            font-size:14px;
            padding-top: 10px;
        }
        .boxicon{
            width: 80px;
            height: 80px;
            padding: 16px;
            background-color: $branco;
            -moz-border-radius:50px 50px 50px 50px;
    -webkit-border-radius:50px 50px 50px 50px;
    border-radius:50px 50px 50px 50px;
            i{
                color: $vermelho;
                font-size: 42px;
            }
        }
   .carousel{
       padding-left: 20px;
       padding-right: 20px;
       padding-bottom: 20px;
       padding-top: 20px;
       height: 50vh;
       
       .item{
           padding-top: 5px;
           padding-left: 5px;
           padding-right: 5px;
           text-align: center;
           h2{
               text-align: center;
               font-size: 18px;
               font-weight: $medio;
               padding-top: 10px;
           }
           p{
               font-size:12px;
               text-align: center;
           }
       }
       .boxicon{
        width: 30px;
        height: 30px;
        padding: 6px;
        background-color: $branco;
        -moz-border-radius:50px 50px 50px 50px;
-webkit-border-radius:50px 50px 50px 50px;
border-radius:50px 50px 50px 50px;
        i{
            color: $vermelho;
            font-size: 20px;
        }
    }
   }     
}
// >>>>>>>>>>>>> fim sessao vantagens

#adicionais{
   
    background: url(../img/fundo_adicionais.jpg) right no-repeat;
    background-size: 100vh;
    position: relative;  
        color: $branco;
        text-align: center;
        font-weight: $light;
        h1{
            padding-top: 70px;
            padding-bottom: 45px;
            font-size: 38px;
            font-weight: $thin;
            text-align: center;
            color:#fff;
            span{
                font-weight: $bold;
            }
        }
        .medico{
            min-width: 634px;
            min-height: 100vh;
            
        }
        #accordion{
            border-radius:20px;
            overflow: hidden;
            background-color: $verdeclaro !important;
        }
        #accordion .panel{
            border: none;
            box-shadow: none;
            border-radius:20px;
            margin: 0;
            background-color: $verdeclaro;
        }
        #accordion .panel:last-child{
            border-bottom: none;
            background-color: $verdeclaro;
        }
        #accordion .panel-heading{
            padding: 2px;
            border: none;
            background-color: $verdeclaro;
        }
        #accordion .panel-title a{
            display: block;
            padding: 10px;
            font-size: 14px;
            font-weight: 700;
            color: $verdeclaro;
            text-transform: uppercase;
            background: $branco;
            text-align: left;
            border: none;
            border-radius: 20px;
            position: relative;
            transition: all 0.3s ease 0s;
        }
        #accordion .panel-title a.collapsed{
            background: $verdeclaro;
            color: $branco;
            border: 1px solid $branco;
            
        }
        #accordion .panel-title a.collapsed:hover{
            background: $branco;
            color: $verdeclaro;
        }
        #accordion .panel-title a:after,
        #accordion .panel-title a.collapsed:after{
            content: "\f107";
            font-family: fontawesome;
            font-size: 18px;
            color:$verdeclaro;
            position: absolute;
            top: 10px;
            right:20px;
            transition: all 0.3s ease-in-out 0s;
        }
        #accordion .panel-title a.collapsed:after{
            content: "\f106";
            color: $branco;
        }
        #accordion .panel-title a.collapsed:hover:after{
            color:$verdeclaro;
        }
        #accordion .panel-body{
            padding: 10px;
            border: none;
            font-size: 14px;
            color:$branco;
            line-height: 20px;
            background-color: $verdeclaro;
            text-align: left;
        }
 }
 #clientes{
    
    background-size: 100vh;
    position: relative;  
        color: $branco;
        text-align: center;
        font-weight: $light;
        
        h1{
            padding-top: 90px;
            padding-bottom: 45px;
            font-size: 38px;
            font-weight: $thin;
            text-align: center;
            color:#fff;
            span{
                font-weight: $bold;
            }
        }
        hr{
            border: dashed #fff 1px;
        }
        h2{
            font-size: 22px;
            text-align: left;
            font-weight: $semi;
            padding-bottom: 15px;
        }
        figure{
            padding-top: 15px;
        }
        p{
            font-size: 15px;
            text-align: left;
            padding-top: 15px;
        }
        h3{
            font-weight: $semi;
            font-style: italic;
            text-align: left;
            padding-top: 15px;
           
        }
 }
 .barra{
    height:300px;
    
 }
 /* contato */
 #contato{
     padding-top: 90px;
     h1{
        padding-bottom: 45px;
        font-size: 38px;
        font-weight: $thin;
        text-align: center;
        span{
            font-weight: $bold;
        }

     }
     h2{
         font-weight: $semi;
         padding-bottom: 20px;
         padding-top: 20px;
         
     }
     p{
         font-weight: $light;
         span{
             font-weight: $semi;
             color:$vermelho;
         }
         img{
             float: left;
         }
         a{
             color: $vermelho;
             padding-top: 21px;
             float: left;
         }
         a:hover{
             color:$verde;
         }
     }
    
    .boxtelefone{

    }
    .rodape{
        background: url(../img/medico.jpg) top no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
        
   .nota{
       
       font-weight: $semi;
       font-size: 11px;
       padding-top: 75px;
   }
 }