@import "mixins";

/*===========================================================
/*++++++++++++++ DESKTOP LARGE FULLHD - 4K: 2560px. */
 @media (min-width:2560px){
  
 }/*===========================================================
  /*++++++++++++++ fim DESKTOP FULL HD 2560px - 4K: */
  /*============================================================*/  
 
 

/*===========================================================
/*++++++++++++++ DESKTOP LARGE  -  1920px. */
 @media (min-width: 1920px) and (max-width:2559px) {
  #home{
    .logo{
      padding-top: 100px;
    }
    h1{
      
      margin-top: 40%;
    }
  }
}
/*===========================================================
  /*++++++++++++++ FIM DESKTOP LARGE 1920px: */
  /*============================================================*/ 


/*===========================================================
/*++++++++++++++ Mobile small Layout: 320px.( iphone 3/4/5 ) */
@media only screen and (max-width: 359px) {
/*============================================================*/
#home{
  h1{
    font-size: 0.7em;
    margin-top: 20px;
  }
}
}/*===========================================================
  /*++++++++++++++ fim mobile 320px: */
  /*============================================================*/ 


/*===========================================================
/*++++++++++++++ Mobile Layout: 360px.( samsumg galaxy) */
@media (min-width: 360px) and  (max-width:374px) {
/*@media only screen and  (max-width: 360px)  {*/
  #home{
    h1{
      font-size: 0.8em;
      margin-top: 60px;
    }
  }
                    
}/*===========================================================
  /*++++++++++++++ fim mobile 360px: */
  /*============================================================*/ 


/*===========================================================
/*++++++++++++++ Mobile Layout: 375px.( iphone 6/7/8 X) */
@media  (min-width: 375px) and  (max-width: 411px) {
  /* ================================================= */
  #home{
    h1{
      font-size: 0.9em;
      margin-top: 60px;
    }
  }
      
  } /*===========================================================
  /*++++++++++++++ fim mobile 375px: */
  /*============================================================*/ 
  

  /*===========================================================
/*++++++++++++++ Mobile Layout: 412px.( iphone 6/7/8 plus - GalaxyNOte) */
  @media  (min-width: 412px) and  (max-width: 767px) {
/* ========================================= =================== */
#home{
  h1{
    font-size: 1.0em;
    margin-top: 60px;
  }
}
           
    } /*===========================================================
    /*++++++++++++++ Fim mobile 414px: */
    /*============================================================*/

/*===========================================================
/*++++++++++++++ Mobile ipad portrait: */
/*============================================================*/
@media (min-width: 768px) and (max-width: 1279px) and (orientation : portrait) {

       
} /*===========================================================
/*++++++++++++++ fim ipad portrait: */
/*============================================================*/

/*===========================================================
/*++++++++++++++ ipad landscape: */
/*============================================================*/
@media (min-width: 768px) and (max-width: 1279px) and (orientation : landscape) {
   

} /*===========================================================
/*++++++++++++++ fim ipad landscape: */
/*============================================================*/



/*===========================================================
/*++++++++++++++ ipad pro */
/*============================================================*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1365px) and (-webkit-min-device-pixel-ratio: 1.5) {
    
}
/*===========================================================
/*++++++++++++++ FIM ipad pro */
/*============================================================*/