/*!
 * Copyright 2017.
 * http://www.plusok.com.br
 * Programado com pré-processador SASS. (GULP)
 */
 
@import '../../componentes/bootstrap-sass/assets/stylesheets/bootstrap';
@import "animate";
@import "reset";

html,
body {
  font-family: $fontepri;
  overflow: hidden !important;
  border: 0;
  margin: 0;
  padding: 0;
}

@import "home";
@import "responsivo";
@import "internas";
