/*!
 * Copyright 2018.
 * Ale Paula Sell
 * Compilado - SASS. (GULP)
 */

@import '../../componentes/bootstrap-sass/assets/stylesheets/bootstrap';
@import "animate";
@import "reset";
@import "drawer";

html,
body {
  font-family: $fontepri;
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;
}

@import "home";
@import "responsivo";
@import "internas";
